<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <a href='/logout'> signout </a>
    <form method='post' action='/add_tweet'>
    <br>
    <input type='text' name='title' placeholder='title'><br>
    <input type='text' name='text' placeholder='text'>
    <p> <button type='submit'>Add Tweet</button></p></form>
    {% for tweet in tweets %}
    <h1> {{tweets[tweet]['title']}}</h1>
    <p> {{tweets[tweet]['text']}} </p>
    <p> {{tweets[tweet]['username']}}</p>

    {% endfor %}
</body>
</html>